<?xml version="1.0"?>
<!--
  Usage:
    roslaunch cr5_bringup cr5_bringup.launch robot_ip:=<value>
-->
<launch>

  <!-- robot_ip: IP-address of the robot's socket-messaging server -->
  <arg name="robot_ip" doc="IP of the controller" default="192.168.5.1"/>
  <arg name="real_time_command_port" doc="port to send motion commands" default="30003"/>
  <arg name="real_time_feedback_port" doc="port to receive robot feedbacks" default="30003"/>
  <arg name="dash_board_port" doc="port to send dashboard commands" default="29999"/>

  <node name="$(env DOBOT_TYPE)_robot" pkg="dobot_bringup" type="dobot_bringup" output="screen" >
    <param name="joint_publish_rate" type="double" value="10" />
    <param name="trajectory_duration" type="double" value="0.3" />
    <param name="robot_ip_address" type="str" value="$(arg robot_ip)"/>
    <param name="real_time_command_port" type="int" value="$(arg real_time_command_port)"/>
    <param name="real_time_feedback_port" type="int" value="$(arg real_time_feedback_port)"/>
    <param name="dash_board_port" type="int" value="$(arg dash_board_port)"/>
  </node>

</launch>
